.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.item {
  background-color: black;
  border-radius: 10px;
  height: 200px;
  width: 400px;
  position: relative;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
