/* center a div */

body {
  height: var(--body-height);
}
.positionclass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grandparent {
  width: var(--grandparent-width);
  height: var(--grandparent-height);
  border: 1px solid var(--BLACK);
}
.parent {
  width: var(--parent-width);
  height: var(--parent-height);
  border: 1px solid var(--BLACK);
}

.child {
  width: var(--child-width);
  height: var(--child-height);
  border: 1px solid var(--BLACK);
}
