.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
}
.light {
  background: #f8f8f8;
  transition: background 0.3s ease-in-out;
}

.dark {
  background: #000000d9;
  transition: background 0.3s ease-in-out;
}
.button {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10%;
  transition: background 0.3s ease-in;
}
.button:hover {
  opacity: 0.8;
}
.lightbtn {
  background: transparent;
  border: 2px solid #ccc;
}
.darkbtn {
  background: #f1ececc7;
}
